body{
    background-color: darkgrey;
}


nav {
    display: block;
    margin-left: 29em;
    
}

nav a{

    padding-right: 16px;

}

h1 {
    color: rgb(253, 34, 34);
}

header {
    margin-left: 30em;
    
}

#section2 {

    margin-left: 32em;
}

#section2 h2 {

    color: goldenrod;
    font-size: 18px;
}

#section2 li {

    margin-left: 5em;

}

#section1 h2 {

    color: darkorchid;
}

#section1 h2{

    margin-left: 25em;

}