
h1 {
    color: rgb(253, 34, 34);
}

.nav {
    display:flex;
    margin-left: 29em;
    
}

.nav a{
    padding-left: 10px;
    
}

.section1 h2 {

    color: darkorchid;
}

.section1 {
    text-align: center;
}

.section2 ul{

    width: 5%;
    margin: auto;

}

.product {
    
    text-align: center;
    list-style-position: inside;
}
.about h3 {

    color: yellow;

}
